.panel.panel-default
  .panel-heading= t :beacon_menu
  .panel-body
    .list-group
      - if BeaconHolder.creatable?
        %a{ href: beacon_holders_path, class: "list-group-item" }
          %h4{ class: "list-group-item-heading" }= t 'beacon_holders.index.title'
          %p{ class: "list-group-item-text" }= t 'beacon_holders.index.description'
      %a{ href: beacons_path, class: "list-group-item" }
        %h4{ class: "list-group-item-heading" }= t 'beacons.index.title'
        %p{ class: "list-group-item-text" }= t 'beacons.index.description'
      %a{ href: patients_path, class: "list-group-item" }
        %h4{ class: "list-group-item-heading" }= t 'patients.index.title'
        %p{ class: "list-group-item-text" }= t 'patients.index.description'
.panel.panel-default
  .panel-heading= t :station_menu
  .panel-body
    .list-group
      - if Station.creatable?
        %a{ href: stations_path, class: "list-group-item" }
          %h4{ class: "list-group-item-heading" }= t 'stations.index.title'
          %p{ class: "list-group-item-text" }= t 'stations.index.description'
      %a{ href: places_path, class: "list-group-item" }
        %h4{ class: "list-group-item-heading" }= t 'places.index.title'
        %p{ class: "list-group-item-text" }= t 'places.index.description'
      %a{ href: receivers_path, class: "list-group-item" }
        %h4{ class: "list-group-item-heading" }= t 'receivers.index.title'
        %p{ class: "list-group-item-text" }= t 'receivers.index.description'
