= form_for @receiver, html: { class: "form-horizontal", role: "form" } do |f|
  - if @receiver.errors.any?
    #error_explanation
      %h2= "#{pluralize(@receiver.errors.count, "error")} prohibited this receiver from being saved:"
      %ul
        - @receiver.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-xs-2.control-label
      = f.label :name
    .col-md-4
      = f.text_field :name, class: "form-control", placeholder: "A01"
  .form-group
    .col-xs-2.control-label
      = f.label :description
    .col-md-4
      = f.text_field :description, class: "form-control", placeholder: "number 1"
  .form-group
    .col-md-2.col-md-offset-1.control-label.actions
      = f.submit t :save
