%p#notice= notice
.row
  .col-xs-2= label_tag :uuid, Receiver.human_attribute_name('name')
  .col-xs-5= @receiver.name
.row
  .col-xs-2= label_tag :uuid, Receiver.human_attribute_name('description')
  .col-xs-5= @receiver.description
= link_to t('action.edit'), edit_receiver_path(@receiver)
\|
= link_to t(:back), receivers_path
