%h1= t('beacons.index.title')
%table.table.table-striped.table-hover
  %tr
    %th= Beacon.human_attribute_name(:uuid)
    %th= Beacon.human_attribute_name(:major)
    %th= Beacon.human_attribute_name(:minor)
    %th= Beacon.human_attribute_name(:color)
    %th= Beacon.human_attribute_name(:name)
    %th
    %th
    %th
  - @beacons.each do |beacon|
    %tr
      %td= beacon.uuid
      %td= beacon.major
      %td= beacon.minor
      %td= beacon.color
      %td= beacon.name
      %td= link_to t('action.show'), beacon
      %td= link_to t('action.edit'), edit_beacon_path(beacon)
      %td= link_to t('action.destroy'), beacon, method: :delete, data: { confirm: t('action.destroy_confirm') }
= link_to t('beacons.new.title'), new_beacon_path
