= form_for @station, html: { class: "form-horizontal", role: "form" } do |f|
  - if @station.errors.any?
    #error_explanation
      %h2= "#{pluralize(@station.errors.count, "error")} prohibited this station from being saved:"
      %ul
        - @station.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    .col-xs-2.control-label
      = f.label :place_id
    .col-md-4
      = f.select :place_id, options_from_collection_for_select(@places, 'id', 'name')
  .form-group
    .col-xs-2.control-label
      = f.label :receiver_id
    .col-md-4
      = f.select :receiver_id, options_from_collection_for_select(@receivers, 'id', 'name')
  .form-group
    .col-md-2.col-md-offset-1.control-label.actions
      = f.submit t :save
