%h1 Listing stations

%table
  %tr
    %th Place
    %th Receiver
    %th
    %th
    %th

  - @stations.each do |station|
    %tr
      %td= station.place_id
      %td= station.receiver_id
      %td= link_to 'Show', station
      %td= link_to 'Edit', edit_station_path(station)
      %td= link_to 'Destroy', station, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Station', new_station_path
