%h1= t('stations.index.title')
%table.table.table-striped.table-hover
  %tr
    %th= Station.human_attribute_name(:place_id)
    %th= Station.human_attribute_name(:receiver_id)
    %th
    %th
    %th
  - @stations.each do |station|
    %tr
      %td= station.place.name
      %td= station.receiver.name
      %td= link_to t('action.show'), station
      %td= link_to t('action.edit'), edit_station_path(station)
      %td= link_to t('action.destroy'), station, method: :delete, data: { confirm: t('action.destroy_confirm') }
= link_to t('stations.new.title'), new_station_path
