%p#notice= notice
.row
  .col-xs-2= label_tag :place_id, Station.human_attribute_name('place_id')
  .col-xs-5= @station.place.name
.row
  .col-xs-2= label_tag :receiver_id, Station.human_attribute_name('receiver_id')
  .col-xs-5= @station.receiver.name
= link_to t('action.edit'), edit_station_path(@station)
\|
= link_to t(:back), stations_path
