%h2.text-center Sign in
%br
= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .text-center
    = f.label :email
    = f.email_field :email, :autofocus => true
  .text-center
    = f.label :password
    = f.password_field :password
  - if devise_mapping.rememberable?
    .text-center
      = f.check_box :remember_me
      = f.label :remember_me
  %br
  .text-center= f.submit "Sign in"
  %br
  .text-center
    = render "devise/shared/links"
