%h1= t('beacon_holders.index.title')
%table.table.table-striped.table-hover
  %tr
    %th= BeaconHolder.human_attribute_name(:beacon_id)
    %th= BeaconHolder.human_attribute_name(:patient_id)
    %th
    %th
    %th
  - @beacon_holders.each do |beacon_holder|
    %tr
      %td= beacon_holder.beacon.name
      %td= beacon_holder.patient.name
      %td= link_to t('action.show'), beacon_holder
      %td= link_to t('action.edit'), edit_beacon_holder_path(beacon_holder)
      %td= link_to t('action.destroy'), beacon_holder, method: :delete, data: { confirm: t('action.destroy_confirm') }
= link_to t('beacon_holders.new.title'), new_beacon_holder_path
