%p#notice= notice
.row
  .col-xs-2= label_tag :uuid, Place.human_attribute_name('name')
  .col-xs-5= @place.name
= link_to t('action.edit'), edit_place_path(@place)
\|
= link_to t(:back), places_path
