!!!
%html
  %head
    %title Nagare
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .row
      %nav.navbar.navbar-default{ role: "navigation" }
        .navbar-header
          %a.navbar-brand{ href: root_path }= t("brand")
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{ href: root_path }= t('locations.index.title')
            %li
              %a{ href: dashboard_index_path }= t('dashboard')
          - if user_signed_in?
            = render "logout"
          - else
            = render "login"
    -# %p.notice= notice
    -# %p.alert= alert
    .container-fluid
      .row
        .container
          = yield
